@font-face {
  font-family: ooredoo;
  src: url(ooredoo-heavy.ttf);
}

$font-stack: ooredoo, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin: 0;
  background: #FAFAFA;  
}

.navigation {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  padding-left: 10%;
  padding-right: 10%;  
  
  .logo {
    display: inline;
    margin: 0;
  }

  .menu {
    display: inline;
    margin-left: 5%;
    margin-right: auto;
    
    a {
      display: inline-flex;
      align-items: center;
      margin-left: 15px;
      margin-right: 15px;
      font-size: 14px;
    }
  }

  .language {
    display: inline;
  }
}

.main {
  padding-left: 10%;
  padding-right: 10%;  
}

.features {
  background: white;
  
  .feature {
    display: inline;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  padding-left: 10%;
  padding-right: 10%;  
  /* Footer */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10px;
  gap: 10px;
  
  background: #F0EFEF;
  
}